/* Обнуление */
/*
::before
::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/* НЕ подчеркивать ссылки ---------------------------- */

a {
	text-decoration: none; 
}
/* НЕ подчеркивать ссылки ---------------------------- */

ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
button {
	border: none;
	background-color: transparent;
}

/* шапка -------------------------------------------- */
.header {
	background-color: #0A61F7;
	height: 30px 0;
}

.menu-link {
	color: #fff;
	font-style: 12px;
	font-weight: 500;
	line-height: 20px; /* 166.667% */
	letter-spacing: 1.4px;
	text-transform: uppercase;
}
/* шапка----------------------------------------------*/

body {
	font-family: 'Rubik', sans-serif;
	height: 100%;
	line-height: 1;
	font-size: 10px;
	color: black;
}
/*
.wrapper {
	min-height: 100%;
	overflow: hidden;
}


*/
